.list-items {
  display: flex;
  justify-content: space-between;
}

.list-items ul {
  list-style-type: none;
}

.owner img {
  width: 70px;
  height: 70px;
}

.unmarked {
  width: 40px;
  height: 40px;
}

.marked {
  width: 40px;
  height: 40px;
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg)
    brightness(91%) contrast(135%);
}

.icon {
  width: 40px;
  height: 40px;
}

.input {
  margin-bottom: 30px;
}

.link {
  display: block;
  margin: 30px;
}
